<nav>
    <img src="./src/logoSemFundo.png" id="logo">
        <div class="abas">
            <a href="/pedidos">Pedidos</a>
            <a href="/produtos">Produtos</a>
            <a href="/ingredientes">Ingredientes</a>
        </div>
</nav>