<header>


<nav>
        
    <img src="./src/logo.jpg" id="chocoletsLogo">
        
        <div class="abas">
        <a href="/pedidos">pedidos</a>
        <a href="/produtos">produtos</a>
        <a href="/ingredientes">ingredientes</a>
        </div>
</nav>


</header>