<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>PRODUTOS</title>
</head>
<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>

    <section class="conteiners pageHeader">
        <h1>produtos</h1>
        <button>adicionar</button>
    </section>

    <div class="opacidade"></div>
    
    <section class="addConteudo">
        <h2>adicionar produto</h2>
        <form action="/produtos/add" method="post" class="add" id="add-produto">
            <input type="text" name="produto" placeholder="produto">
            <div class="selecionarIngredientes"></div>
            <!-- <input type="button" value="ingrediente" id="adicionarSelect"> -->
            <input type="text" name="lucro" placeholder="lucro em %">
            
            <input type="submit" value="adicionar"> 
        </form>
        
        </section>
    <script src="/script.js"></script>
</body>
</html>