<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head') %>
    <title>PRODUTOS</title>
</head>
<body>
    <header class="conteiners">
        <%- include('./partials/header') %>
    </header>
</body>
</html>