@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: #5F4C9A;
    scrollbar-width: 5px;
    scrollbar-color: #887BB0 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
.listaIngredientes::-webkit-scrollbar, .listaProdutos::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #887BB0;
    border-radius: 20px;
    border: 3px solid #887BB0;
}

body {
    background-color: #F6E5C7;
}
.opacidade{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.conteiners {
    padding: 0 15vw;
    margin-bottom: 4vw;
}

/* MENU */
header {
    background-color: #887BB0 ;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
#logo {
    height: 55px;
}
.abas {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.abas a {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

/* Título da página e botão adicionar */
.pageHeader{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 35px 0;
}
.pageHeader h1 {
    font-size: 2.3em;
}
.pageHeader button{
    font-family: 'Inter', sans-serif;
    background-color:#887BB0;
    color: #FFFFFF;
    width: 150px;
    box-shadow:4px 6px 6px 0px #0000004d;
    border-radius: 10px;
    cursor: pointer;
}

/* estilo dos forms */
form:not(.addConteudo form), .addConteudo {
    z-index: 2;
    font-family: 'Inconsolata', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.addConteudo form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* título dos forms */
h2{
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
}

input:not([type=radio], [type = number]) {
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
input[type="submit"]{
    background-color: #887BB0;
    color: #ffffff;
    cursor: pointer;
}
.radios {
    display: flex;
    gap: 20px;
}
.radios label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ingredientes, .produtos, .pedidos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.ingrediente, .produto, .pedido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    border: 7px solid #5F4C9A;
    border-radius: 30px;
    min-height: 60px;
    padding: 8px 16px;
}

img:not(#logo) {
    height: 20px;
    cursor: pointer;
}

/* botão de não apagar */
form button {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #887BB0;
    cursor: pointer;
}

.ingrediente div, .produto > div:not(.selecionarIngredientes div), .pedido > div:not(.selecionarProdutos div) {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* colocando grid nos forms add-produto e add-pedido */
#add-produto, #add-pedido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#add-produto input[type=submit], .editar-produto input[type=submit]{
    grid-column-end: span 2;
}
#add-produto .selecionarIngredientes {
    display: flex;
    flex-direction: column;
    grid-row-end: span 2;
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    height: 120px;
    gap: 10px;
}

.selecionarIngredientes{

    overflow-x: hidden;

}
.selecionarIngredientes div {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    position: relative;
    align-items: center;
    
}
.selecionarIngredientes div label {
    display: flex;
}
.selecionarIngredientes input[type="number"] {
    width: 50px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #5F4C9A;
    border-radius: 6px;
    text-align: center;
}

.prodLarg{
    width: 650px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
  

.medidas{
    position: absolute;
    left: 100%;
}





.produto ul, .pedido ul{
    list-style: none;
}

.produto li, .pedido li{
   padding: 3px;
   padding-left: 10px;
   max-width: 140px;

}

.listaIngredientes, .listaProdutos{
    border: #887BB0 2px solid;
    overflow-y: auto;
    margin-top: 10px;
    height: 113px;
    width: 130px;
    
}

.produto h4, .pedido h4{
    margin-top: 10px;
    margin-bottom: 5px;
}

.lucro{
    margin-top: 10px;
}


.selecionarProdutos {
    display: flex;
    flex-direction: column;
    grid-row-end: span 2;
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    height: 120px;
    gap: 10px;
}

.selecionarProdutos{
    overflow-x:scroll;
}
.selecionarProdutos div {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    position: relative;
    align-items: center;
}
.selecionarProdutos div label {
    display: flex;
}
.selecionarProdutos input[type="number"] {
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #5F4C9A;
    border-radius: 6px;
    text-align: center;
}

.valorPedido, .valorProduto {
    position: relative;
    left: 5px;
}

#add-pedido input[type="date"]{
    height: 46px;
    color: rgba(0, 0, 0, 0.5);
}

.selecionarProdutos > div{
    display: flex;
    justify-content: space-between;
    
}

.selecionarProdutos > div > div{
    width: 50px;
}

.editar-produto, .editar-pedido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.editar-produto .selecionarIngredientes, .editar-pedido .selecionarProdutos{
    display: flex;
    flex-direction: column;
    grid-row-end: span 2;
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    height: 120px;
    gap: 10px;
}


.telefone{
    margin-top: 10px;
    margin-bottom: 5px;
}

.selecionarProdutos > div > p {
    max-width: 70%;
    word-wrap: break-word;
}

table td, table th {
  border: #887BB0 1px solid;
  padding: 5px 0px;
  font-weight: 400;
}

table th{
    background-color: #887BB0;
    color: #FFFFFF;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 2px;
    text-align: center;
    height: fit-content;
    font-size: 14px;
}